.bg-custom-pink {
  background-color: #004FF9 !important;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}



.submit-btn {
  background-color: #FF004A !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 600;
  border: 0px;
  margin-left: 3%;
  margin-bottom: 15px;
}

.submit-btn:hover {
  background-color: white !important;
  color: #004FF9 !important;

}